<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Application Framework</title>
</head>
<body>

<div style="margin:20px 0;">
    <h1>
    <a href="/"><span style="margin-right:20px;">ⓗ</span></a>
        Application framework - <span style="color:#3388cc;">{{ title }}</span>
    </h1>
</div>

<div style="margin:20px 0;padding:10px;background-color:#DDD;">
    1.기준정보 ⇒
    2.업무관리 ⇒
    3.데이터통합 ⇒
    4.외부데이터 ⇒
    5.분석
    6.코드관리
</div>

<div style="padding:10px;line-height:200%;">
    ...{{ rsAnalysis }}
</div>

</body>
</html>