<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Application Framework</title>
</head>
<body>

<div style="margin:20px 0;">
    <h1>
    <a href="/"><span style="margin-right:20px;">ⓗ</span></a>
        Application framework - <span style="color:#3388cc;">{{ title }}</span>
    </h1>
</div>

<div style="margin:20px 0;padding:10px;background-color:#DDD;">
    1.기준정보 ⇒
    2.업무관리 ⇒
    3.데이터통합 ⇒
    4.외부데이터 ⇒
    5.분석
    6.코드관리
</div>

<div style=padding:10px;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">1.기준정보</td>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">거래처관리</button></a>
                ⓥ
            </td>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">제품관리</button></a>
                ⓥ
            </td>
            <td width="15%">
                <a href="bommanage"><button style="border:solid 2px #3388cc;margin-right:3px;background-color:#88CCFF;">MBOM관리</button></a>
                ⓥ
            </td>
            <td width="10%"></td>
            <td width="30%"></td>
        </tr>
    </table>
</div>
<div style="padding:10px;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">2.업무관리</td>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">판매관리</button></a>
                ⓥ
            </td>
            <td width="15%"></td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%"></td>
        </tr>
    </table>
</div>
<div style="padding:10px;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">3.데이터통합</td>
            <td width="15%">
                <a href="itemmanage"><button style="border:solid 2px #3388cc;margin-right:3px;background-color:#88CCFF;">품목 업로드</button></a>
                <a href="https://www.youtube.com/watch?v=IHH5ALRP7n0&list=PLr_ki3_GfpZOOYuu5AZ3fzcfGaMHOWAr7&index=5">ⓥ</a>
            </td>
            <td width="15%"></td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%"></td>
        </tr>
    </table>
</div>
<div style="padding:10px;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">4.외부데이터</td>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">환율 Scraping</button></a>
                ⓥ
            </td>
            <td width="15%"></td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%"></td>
        </tr>
    </table>
</div>
<div style="padding:10px;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">5.분석</td>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">매출분석</button></a>
                ⓥ
            </td>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">원가분석</button></a>
                ⓥ
            </td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%"></td>
        </tr>
    </table>
</div>
<div style="padding:10px;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">6.코드관리</td>
            <td width="15%">
                <a href="codemanage"><button style="border:solid 2px #3388cc;background-color:#88CCFF;margin-right:3px;">통합코드</button></a>
                <a href="https://www.youtube.com/playlist?list=PLr_ki3_GfpZOOYuu5AZ3fzcfGaMHOWAr7"  target="_blank">ⓥ</a>
            </td>
            <td width="15%"></td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%">
            </td>
        </tr>
    </table>
</div>
<div style="height:10px;">
</div>
<div style="padding:10px;line-height:200%;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">사용자관리</button></a>
                <a href="https://www.youtube.com/playlist?list=PLr_ki3_GfpZOqVAG7EBBWJFJzLEHgmsuP" target="_blank">ⓥ</a>
            </td>
            <td width="15%">
                <a href="https://www.youtube.com/watch?v=DmgJ3UEnWD4" target="_blank"><span style="margin-right:20px;">Authentication</span></a>
            </td>
            <td width="15%">
                <a href="https://www.youtube.com/watch?v=TtvkLK5Rq9U" target="_blank">JWT</a>
            </td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%">
            </td>
        </tr>
    </table>
</div>
<div style="padding:10px;line-height:200%;">
        Session ⓥ
</div>
<div style="padding:10px;line-height:200%;">
        MVT<->TVM ⓥ
</div>
<div style="padding:10px;line-height:200%;">
    <table width="100%" border="0">
        <tr>
            <td width="15%">
                <a href="#"><button style="margin-right:3px;">API</button></a>
                <a href="#" target="_blank">ⓥ</a>
            </td>
            <td width="15%">
                <a href="apitest">API test(GraphQL)</a>
            </td>
            <td width="15%">
                <a href="https://www.youtube.com/watch?v=UXsZVh3CjtQ" target="_blank">REST API</a>
            </td>
            <td width="15%"></td>
            <td width="10%"></td>
            <td width="30%">
            </td>
        </tr>
    </table>
</div>

</body>
</html>